name: Run Tests and make Docker Image CI

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Run tests
      run: yarn test  | npm test
    
    - name: Build and push Docker image
      run: |
        run: docker build . --file Dockerfile --tag alfredmh/catalog_service-image
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        docker push alfredmh/catalog_service-image

